# Important dependencies
opencv-python
timm
# Needed by BiRefNet code, should be avoided
functools
# Already pulled by ComfyUI
numpy
einops
kornia
Pillow
safetensors
# Black listed by manager to avoid side effects
# torch
# torchvision
